@font-face {
    src: url("assets/fonts/segoeuib.ttf");
    font-family: Segoe UI;
    
}
@font-face {
    src: url("assets/fonts/segoeuisl.ttf");
    font-family: Segoe UI light;
}

#container {
    position: relative;
    z-index: 5;
    padding-top: 10%;
    padding-left: 2.5%;
    max-height: 100vh;
    max-width: 100%;
}

h1{
    color: #8664c3;
    font-family: "Segoe UI", sans-serif;
    font-size: 12vw;
    margin: 0;
}

.rect {
    height: 6px;
    width: 60vw;
    background-color: #8664c3;
    margin: 1% 0;
    border: none;
    border-radius: 5px;
}