@font-face {
    src: url("assets/fonts/segoeuib.ttf");
    font-family: Segoe UI;
    
}

@font-face {
    src: url("assets/fonts/segoeuisl.ttf");
    font-family: Segoe UI light;
}

/* theme input */
input[type="checkbox"]{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

/* theme switch button properties */
.check{
    margin-top: -665px;
    margin-left: 1423px;
    position: relative;
    display: block;
    width: 60px;
    height: 30px;
    background: #092c3e;
    cursor: auto;
    border-radius: 20px;
}

/* horizontal line below anavrin */
.line {
    height: 6px;
    width: 872px;
    background-color: #8664c3;
    margin-left: 6%;
    margin-top: 1%;
}

/* Text: Anavrin */
h1 {
    color: #8664c3;
    font-family: "Segoe UI", sans-serif;
    font-size: 150px;
    margin-left: 100px;
    margin-bottom: 1%;
    margin-top: 13%;
}

/* a class notes archive */
#TagLine {
    color: #8664c3;
    font-family: "Segoe UI light";
    font-size: 50px;
    /* font-weight: lighter; */
    margin-left: 7%;
    margin-top: 2%;
    margin-bottom: 7%;
}

/* link properties of buttons: About & Team */
a {
    color: #666666;
    font-family: "Segoe UI", sans-serif;
    text-decoration: none;
}

/* Anavrin logo watermark */
.watermark{
    width: 300px;
    height: 300px;
    opacity: 0.2;
    margin-left: 70%;
    margin-bottom: -42%;
}

/* text placement of footer elements: About & Team */
.foot {
    font-size: 40px;
    margin-right: 1%;
    margin-left: 6%;
    margin-top: -11%;
}

label:hover{
    color: aliceblue;
}

/* Dark mode background settings */
.dark-mode{
    background-color: black;
    color: white;
}

/* Next arrow button */
#next {
    height: 60px;
    width: 60px;
    margin-left: 91%;
    margin-top: 37%;
}
